* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
}
#main {
  width: 100%;
  height: 100%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cursor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  mix-blend-mode: difference;
  position: absolute;
  transition: 0.2 all linear 0.2s;
}
